body * {
	font-family: "Nunito", sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #142f4c;
}

#countdown-wrap {
	width: 100%;
	height: 300px;
	padding: 20px;
	font-family: arial;
	max-width: 650px;
	margin: 150px auto 300px;
}

#goal {
	font-size: 48px;
	text-decoration: underline;
	text-align: right;
	color: #fff;
	@media only screen and (max-width: 640px) {
		text-align: center;
	}
}

.goals {
	font-size:18px;
	display: block;
	text-align: right;
	font-weight: bold;
	color: #fff;
}


#glass {
	width: 100%;
	height: 20px;
	background: #c7c7c7;
	border-radius: 10px;
	overflow: hidden;
}

#progress-1 {
	float: left;
	width: 20%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-2 {
	float: left;
	width: 100%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-3 {
	float: left;
	width: 0%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-4 {
	float: left;
	width: 0%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-5 {
	float: left;
	width: 100%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-6 {
	float: left;
	width: 0%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-7 {
	float: left;
	width: 100%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-8 {
	float: left;
	width: 100%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-9 {
	float: left;
	width: 0%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-10 {
	float: left;
	width: 33%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-11 {
	float: left;
	width: 50%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-12 {
	float: left;
	width: 6%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-13 {
	float: left;
	width: 41%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-14 {
	float: left;
	width: 100%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-15 {
	float: left;
	width: 0%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-16 {
	float: left;
	width: 20%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-17 {
	float: left;
	width: 100%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-18 {
	float: left;
	width: 66%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-19 {
	float: left;
	width: 70%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}

#progress-20 {
	float: left;
	width: 100%;
	height: 20px;
	background: #ff5d50;
	z-index: 333;
}


.goal-stat {
	width: 25%;
	padding: 10px;
	margin: 0;
	color: #fff;

}

.goal-number,
.goal-label {
	display: block;
}

.goal-number {
	font-weight: bold;
}

h2{
	text-decoration: underline;
	color: white;
}

a{
	color:#ff5d50;
	text-align: center;
}

p{
	color: white;
	text-align: center;
}
